
@import "mixins.scss";
// =========================================================================
.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img {
		display: none;
	}
}
// =========================================================================
.slick-slider {
	position: relative;
	.slick-track,
	.slick-list {
	}
	.slick-list {
		overflow: hidden;
	}
	.slick-track {
		@include flexbox();
		align-items: flex-start;
	}
	.slick-slide {
	}
	.slick-dots {
		
		@include flexbox();
		justify-content: center;
		align-items: center;
		padding: 80px 0px 0px 0px;
		@media (max-width:1500px){

				padding: 60px 0px 0px 0px;

		}
		@media (max-width:1100px){

				padding: 50px 0px 0px 0px;

		}
		
		li {
			button {
				margin: 0px 5px;
				border-radius: 50%;
				font-size: 0;
				width: 11px;
				height: 11px;
				border: 1px solid #c8c8c8;
				background-color: transparent;
			}
			&.slick-active {
				button {
					background-color: #a9afb3;
				}
			}
		}
	}
}
// =========================================================================
